@use './../../../styles/mixins' as *;


.new-invoice-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0,0.5);
}

app-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.wrapper-content{
    background-color: #fff;
    width: 616px;
    height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 103px;
    overflow: hidden;
}

.form-container{
    flex: 1;
}

.form-action{
    background-color: #fff;
    padding: 31px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.11);
}

.discard-btn {
    @include light-blue-12;
    background-color: #F9FAFE;
    color: #7E88C3;
    border: none;
    font-weight: bold;
    padding: 17px 23px;
    cursor: pointer;
    border-radius: 24px;
}
.save-btn-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.save-draft{
 @include light-blue-12;
    background-color: #373B53;
    color: #888EB0;
    border: none;
    font-weight: bold;
    padding: 17px 23px;
    cursor: pointer;
    border-radius: 24px;
}

.save-send{
     @include light-blue-12;
    background-color: #7C5DFA;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    padding: 17px 23px;
    cursor: pointer;
    border-radius: 24px;

}

.form-title{
    padding-left: 56px;
    padding-top: 56px;
    margin-bottom: 48px;
}

.form-container{
    padding: 0 56px;
    display: flex;
    flex-direction: column;
}

.form-container h2{
@include light-blue-12;
}
.group-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.col-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row-group{
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 24px;
    
}
.row-group col-group{
    flex:1;
}
.form-container{
    overflow-y: auto;
}

input{
    padding: 16px 20px;
    border-radius: 4px;
    border: 1px solid #DFE3FA;
}