@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: #F8F8FB;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.shadow {
  box-shadow: 0 4px 6px rgba(72, 84, 159, 0.1);
}
.shadow-md {
  box-shadow: 0 6px 12px rgba(72, 84, 159, 0.1);
}
.shadow-lg {
  box-shadow: 0 10px 20px rgba(72, 84, 159, 0.1);
}


@media screen and (max-width: 768px) {

 .rem-sm{
    display: none;
 }
}