$purple: #7C5DFA;
$lavender: #9277FF;
$dark-navy: #1E2139;
$deep-blue: #252945;
$soft-blue: #DFE3FA;
$steel: #888EB0;
$slate: #7E88C3;
$midnight: #0C0E16;
$brick-red: #EC5757;
$off-white: #F8F8FB;
$charcoal: #141625;
